<!-- app/assets/templates/events/index.jst.ejs -->

<% _(Cal._dayNames).each(function (dayName) { %>
  <div class="day-name"><%= dayName %></div>
<% }); %>

<% events.each(function (event) { %>
  <div class="event"><%= event.escape("title") %></div>
<% }); %>