<form action="#" method="post">
  <label for="event_title">Title</label>
  <input type="text" 
    id="event_title" 
    name="event[title]" 
    placeholder="Untitled event"
    size="60">
  <br>

  <label for="event_start_date">Start</label>
  <input id="event_start_date" 
    name="event[start_date]" 
    type="datetime-local"/>
  <label for="event_end_date">End</label>
  <input id="event_end_date" 
    name="event[end_date]" 
    type="datetime-local" />
  <br>
  
  <label for="event_description">Description</label>
  <br>
  <textarea id="event_description" 
    name="event[title]" 
    placeholder="Describe the event..."
    rows="10"
    cols="40"></textarea>
  <br>

  <input type="radio" 
    id="event_recurring_true" 
    name="event[recurring]"
    value="true">
  <label for="event_recurring_true">Recurring</label>
  <input type="radio" 
    id="event_recurring_false" 
    name="event[recurring]"
    value="false">
  <label for="event_recurring_false">One time</label>
  <br>
  
  <input type="submit" value="SAVE">
</form>