<!-- app/views/session/new.html.erb -->

<form action="<%= session_url %>" method="post">
  
  <input type="text" name="user[email]" placeholder="email">
  <input type="password" name="user[password]" placeholder="password">
  
  <input type="submit" value="Log In">
</form>
