<!-- app/views/session/new.html.erb -->
<script>
  $(window).scroll(function () { 
    var st = $(this).scrollTop();
    $('#fading').each(function(index) {
      var o = (($(this).offset().top - st) / 50);
      $('#fading').css({ 'opacity': o });
      if (o > .2) {
        $('.splash-header')
          .css({ 'height': 540 - $(this).offset().top / (o * 3.5) });
        $('.splash-body').css({ 'margin-top': 700 - $(this).offset().top / (o * 3)});
      }
    })
  });
</script>

<div class="splash-container">
  <div class="splash-header">
    <div class="splash-header-menu">
      <div class="header-links">
        <span class="header-menu-link">
          <a href="http://jhaley1.github.io" class="header-link">About</a>
        </span>
        <span id="separator">|</span>
        <span class="header-menu-link">
          <a href="http://www.github.com/jhaley1" class="header-link">Github</a>
        </span>
        <span id="separator">|</span>  
        <span class="header-menu-link">
          <a href="http://www.linkedin.com/in/jhaley1" class="header-link">LinkedIn</a>
        </span>
        <span id="separator">|</span>
      </div>
      
      <div class="header-log-in">
        
        <form action="<%= session_url %>" method="post" id="entry-form">
            <input type="text" 
              name="user[email]" 
              placeholder="email" 
              id="info-entry">
            <input type="password" 
              name="user[password]" 
              placeholder="password" 
              id="info-entry">
          
            <input type="submit" value="Sign in" id="log-in-button">
        </form>
      </div>
    </div>
    
    <div id='fading'>
      <div class="splash-header-logo">
        <img src="/assets/gull.png" class="logo" /> <div id="cal-title">Calendar</div>
      </div>
    
      <div class="splash-header-subtitle">
        <span id="cal-subtitle">Free online calendar app.</span>
      </div>
    
      <div class="splash-header-sign-up">
        <%= button_to "Sign up", 
          new_user_url,
          :method => "get", 
          :class => "sign-up-button" %>
      </div>
    
      <div class="demo-account-link">
        <form action="<%= session_url %>" method="post">
          <input type="hidden" 
            name="user[email]" 
            value="demo@demo.com">
          <input type="hidden" 
            name="user[password]" 
            value="password">
        
          <input type="submit" value="Click to view demo" id="demo-button">
        </form>
      </div>
    </div>
  </div>
  
  <div class="splash-body">
    <div class="splash-row-1">
      <div class="sr1-text">
        <h3>Email Reminders & Recurring Events</h3>
        Check the box to receive an email reminder 24 hours prior to the start of the event. Set up events to reoccur on a daily, weekly, bi-weekly, monthly, or yearly basis.
      </div>
    
      <div class="sr1-img">
        <img src="/assets/recur.png" class="screenshot">
      </div>
    </div>
  
    <div class="splash-row-2">
      <div class="sr2-img">
        <img src="/assets/share-cal.png" class="screenshot">
      </div>
      
      <div class="sr2-text">
        <h3>Share your calendars</h3>
        Easily share calendars with your friends and family, just type in their email address, click the "+" button, save your calendar, and that calendar will now be synced across multiple accounts.
      </div>
    </div>
    
    <div class="splash-row-3">
      <div class="sr3-text">
        <h3>Drag & Drop Events</h3>
        An event got moved? Don't bother editing it, just drag it and drop it to the new location.
      </div>
    
      <div class="sr3-img">
        <img src="/assets/drag-and-drop.png" class="screenshot">
      </div>
    </div>
    
    <div class="splash-row-4">
      <div class="sr4-img">
        <img src="/assets/quick-create.png" class="screenshot">
      </div>
      
      <div class="sr4-text">
        <h3>Quickly Create Events</h3>
        If you need to quickly create an event, just click on the day you want to create the event. The date will be automatically populated, and the event start hour will be the following hour by default.
      </div>
    </div>
    
    <div class="splash-row-5">
      <div class="sr5-text">
        <h3>Multiple Views</h3>
        Monthly views are for offline calendars. Let's have weekly and daily views too! Such fun!
      </div>
    
      <div class="sr5-img">
        <img src="/assets/multi-views.png" class="screenshot">
      </div>
    </div>
    
    <div class="splash-row-6">
      <div class="sr6-img">
        <img src="/assets/search-cal.png" class="screenshot">
      </div>
      
      <div class="sr6-text">
        <h3>Search Your Calendars</h3>
        Don't lose things. Ever. If you have a lot of events, just type the name or the date of the event into the search, and you'll be taken straight to the edit/view page for that event.
      </div>
    </div>
    
    <div class="splash-row-7">
      <div class="sr7-text">
        <h3>Quickly View Events</h3>
        View events in handwritten modals; with variant colorful backgrounds dependent on the calendar the event belongs to.
      </div>
      
      <div class="sr7-img">
        <img src="/assets/quick-view.png" class="screenshot">
      </div>
    </div>
    
  </div>
</div>

<div class="splash-contact-container">
  <div class="splash-contact-info">

  </div>
  
  <div class="splash-contact-fields">

  </div>
</div>

<div class="splash-footer">
  <span class="footer-title"><h3>Seagull Calendar</h3></span>
  <span class="footer-link">
    <a href="http://jhaley1.github.io">About</a> 
  </span>
  <span class="footer-link">
    <a href="http://www.github.com/jhaley1">Github</a> 
  </span>
  <span class="footer-link">
    <a href="http://www.linkedin.com/in/jhaley1">LinkedIn</a>
  </span>
  <br><br>
  <h6>This page is based off the way awesome <a href="http://www.heroku.com">Heroku</a> splash/home page.</h6>
</div>