<button id="last-day"><</button>
<button id="next-day">></button>
<%= month %> <%= day %>, <%= year %>
<span id="switch-views">
  <button id="day-view" class="view-switch">Day</button>
  <button id="week-view" class="view-switch">Week</button>
  <button id="month-view" class="view-switch">Month</button>
</span>