<button id="last-month"><</button>
<button id="next-month">></button>
<%= month %>, <%= year %>
<span id="switch-views">
  <button id="day-view" class="view-switch">Day</button>
  <button id="week-view" class="view-switch">Week</button>
  <button id="month-view" class="view-switch">Month</button>
</span>