<!-- app/assets/templates/calendars/days.jst.ejs -->

<% var day = Cal._currentDate.getDate(); %>
<% var hoursInDay = []; %>

<% for (var i = 1; i < 25; i++) { %>
  <% hoursInDay.push(i); %>
<% } %>

<h1>
  <%= JST["calendars/_dayHeader"]({ month: month, day: day, year: year })%>
</h1>

<%= JST["calendars/_dayCalendar"]({ calendars: calendars, 
  daysInMonth: daysInMonth, dayOfWeek: dayOfWeek,
  month: month, year: year, lastDayOfMonth: lastDayOfMonth,
  lastWeekday: lastWeekday, day: day,
  hoursInDay: hoursInDay }) %>