<!-- app/assets/templates/calendars/index.jst.ejs -->
<div id="calendar-container">
<h1>
  <%= JST["calendars/_indexHeader"]({ month: month, year: year }) %>
</h1>

<% _(Cal._dayNames).each(function (dayName) { %>
  <div class="day-name"><h4><%= dayName %></h4></div>
<% }); %>
<br><br><br>

<% if (lastWeekday == 'Saturday') { %>
  <% var lastWeekdayNum = 0; %>
<% } else if (lastWeekday == 'Monday') { %>
  <% var lastWeekdayNum = 1; %>
<% } else if (lastWeekday == 'Tuesday') { %>
  <% var lastWeekdayNum = 2; %>
<% } else if (lastWeekday == 'Wednesday') { %>
  <% var lastWeekdayNum = 3; %>
<% } else if (lastWeekday == 'Thursday') { %>
  <% var lastWeekdayNum = 4; %>
<% } else if (lastWeekday == 'Friday') { %>
  <% var lastWeekdayNum = 5; %>
<% } else { %>
  <% var lastWeekdayNum = 6; %>
<% } %>
  

<%= JST["calendars/_monthCalendar"]({ calendars: calendars, 
  daysInMonth: daysInMonth, dayOfWeek: dayOfWeek,
  month: month, year: year, lastDayOfMonth: lastDayOfMonth,
  lastWeekday: lastWeekday, lastWeekdayNum: lastWeekdayNum }) %>
</div>