<!-- app/assets/templates/calendars/index.jst.ejs -->

<h1>
  <%= JST["calendars/_indexHeader"]({ month: month, year: year }) %>
</h1>

<% _(Cal._dayNames).each(function (dayName) { %>
  <div class="day-name"><h4><%= dayName %></h4></div>
<% }); %>
<br><br><br>

<%= JST["calendars/_monthCalendar"]({ calendars: calendars, 
  daysInMonth: daysInMonth, dayOfWeek: dayOfWeek,
  month: month, year: year, lastDayOfMonth: lastDayOfMonth,
  lastWeekday: lastWeekday }) %>
