<% var user_id = JSON.parse($("#user_id_json").html()); %>

<form class="calendar-form" id="calendar-form">
  <input
    type="hidden"
    name="calendar[user_id]"
    value="<%= user_id %>">

  <br>    
  <button id="back-to-cal"><</button>
  <input type="submit" id="save" value="SAVE" form="calendar-form">

  <% if (!this.model.isNew()) { %>
    <button id="discard">Discard</button>
  <% } %>
  
  <% if (calendar.isNew()) { %>
    <h1>Create a new calendar</h1>
  <% } else { %>
    <h1>Edit <%= calendar.escape("name") %> calendar</h1>
  <% } %>
  
  <label for="calendar_name"><h4>Name</h4></label>
  <input type="text" 
    id="calendar_name" 
    name="calendar[name]" 
    placeholder="Untitled calendar"
    size="60"
    style="width: 202px"
    class="accepts-data"
    value="<%= calendar.escape("name") %>">
  <br>
  
  <h4>Display Label Color</h4>
  <input type="radio"
    id="calendar_display_id_yellow"
    name="calendar[display_id]"
    value="1">
  <label for="calendar_display_id_yellow"></label>
  <input type="radio"
    id="calendar_display_id_purple"
    name="calendar[display_id]"
    value="2">
  <label for="calendar_display_id_purple"></label>
  <input type="radio" 
    id="calendar_display_id_blue"
    name="calendar[display_id]"
    value="3">
  <label for="calendar_display_id_blue"></label>
  <input type="radio"
    id="calendar_display_id_red"
    name="calendar[display_id]"
    value="4">
  <label for="calendar_display_id_red"></label>
  <input type="radio"
    id="calendar_display_id_green"
    name="calendar[display_id]"
    value="5">
  <label for="calendar_display_id_green">
  </label>
  <br>
  
  <h4>Share with</h4>
  <form class="friend-search-box">
    <input type="text" 
      data-provide="typeahead" 
      autocomplete="off" 
      class="typeahead"
      id="search-friends"
      placeholder="Find friends">
  
    <button class="friend-search-submit">+</button>
  </form>

  <script>
    var all_users = JSON.parse($("#all_users_json").html());
    
    $(function() {
      var typeAhead = {};
    
      typeAhead.Person = Backbone.Model.extend({});

      typeAhead.People = Backbone.Collection.extend({
        model: typeAhead.Person
      });

      dataset = [];
      
      _(all_users).each(function (user) {
        dataset.push(user)
      });
  
    	$(".typeahead").typeahead({
        source: function (query, process) {
          userObjs = {};
          userEmails = [];

          _.each(dataset, function(item, ix, list) {
            userEmails.push(item.email);
        
            userObjs[item.email] = item;
          });
      
          process(userEmails);
        }
    	});
    });
  </script>
  <div class="shared-users">    
    <ul class="shared-users-list">
      <% _(calendar.get("friends")).each(function (friend) { %>
        <li><h5><%= friend.email %></h5></li>
      <% }) %>
    </ul>
  </div>
  <br>
</form>