<script>
  $(document).ready(function() {
    $(".fancy_title").lettering();
  });
</script>

<br><br>
<button id="new-event">CREATE</button>
<br><br>

<h3>My Calendars</h3>
<% calendars.each(function (calendar) { %>
  <button id="show-cal"
    data-id="<%= calendar.get("id") %>"
    class="display-cal-button cal-button-<%= calendar.get("id") %>">
    <%= calendar.get("name") %></button>
  <br><br>
<% }); %>

<!--iv id="title">
  <span class="fancy_title">GOOGLE CALENDAR</span>
</div-->

<br><br><br>

<!-- <div class="actions">
  <a id="TakeAction">&#x25BC;</a>
  <ul id="actions">
    <li>action 1</li>
    <li>action 2</li>
  </ul>
</div> -->