<script>
  $(document).ready(function() {
    $(".fancy_title").lettering();
  });
</script>

<br><br>
<button id="new-event">CREATE</button>
<br><br>
<button id="new-calendar">NEW CALENDAR</button>
<br><br>

<form>
  <input type="text" 
    data-provide="typeahead" 
    autocomplete="off" 
    data-source="[banana, grapefruit]"
    class="typeahead search-events">
  <input type="submit" value="SPOTLIGHT" class="search-submit">
</form>

<script>
  var typeAhead = {};
    
  typeAhead.Person = Backbone.Model.extend({});

  typeAhead.People = Backbone.Collection.extend({
    model: typeAhead.Person
  });

  typeAhead.testData = [];

  Cal.calendars.each(function (calendar) {
    calendar.get("events").each(function (event) {
      var startDate = new Date (event.get("start_date"));
      var startMonth = startDate.getMonth();
      var startDay = startDate.getUTCDate();
      var startYear = startDate.getFullYear();
      
      typeAhead.testData.push({
        "name": event.get("title") + " - " + 
          startMonth + "/" + startDay + "/" + startYear,
        "id": event.get("id"),
        "calendar_id": event.get("calendar_id")
      });
    });
  });
  
  $(function () {
    typeAhead.people = new typeAhead.People(typeAhead.testData);
  
    $('.typeahead').typeahead({
      source: typeAhead.people.pluck('name')
    });
  });
</script>

<h3>My Calendars</h3>
<% calendars.each(function (calendar) { %>
  <button id="show-cal"
    data-id="<%= calendar.get("id") %>"
    class="display-cal-button cal-button-<%= calendar.get("display_id") %>">
    <%= calendar.get("name") %></button>
  <br><br>
<% }); %>

<div id="keyboard-shortcuts">
  <div id="keyboard-shortcut-info">
    <h6>b = back to calendar</h6>
    <h6>c = create a new event</h6>
    <h6>j = back</h6>
    <h6>k = forward</h6>
    <br><br>
  </div>
  
  <div id="keyboard-shortcut-link"><h6>keyboard shortcuts</h6></div>
</div>

<br><br><br>

<!-- <div class="actions">
  <a id="TakeAction">&#x25BC;</a>
  <ul id="actions">
    <li>action 1</li>
    <li>action 2</li>
  </ul>
</div> -->


<!--div id="title">
  <span class="fancy_title">GOOGLE CALENDAR</span>
</div-->

