<!-- app/assets/templates/calendars/weeks.jst.ejs -->
<% var day = Cal._currentDate.getDate(); %>

<% var hoursInDay = []; %>
<% var daysInWeek = []; %>

<% for (var i = 0; i < 24; i++) { %>
  <% hoursInDay.push(i); %>
<% } %>

<% for (var j = 0; j < 7; j++) { %>
  <% daysInWeek.push(j); %>
<% } %>

<h1>
  <%= JST["calendars/_weekHeader"]({ month: month, day: day, year: year })%>
</h1>

<%= JST["calendars/_weekCalendar"]({ calendars: calendars, 
  daysInMonth: daysInMonth, dayOfWeek: dayOfWeek,
  month: month, year: year, lastDayOfMonth: lastDayOfMonth,
  lastWeekday: lastWeekday, day: day,
  hoursInDay: hoursInDay, daysInWeek: daysInWeek }) %>
