<!-- app/assets/templates/calendars/weeks.jst.ejs -->

<% var day = Cal._currentDate.getDate(); %>
<% var currentDay = Cal._currentDate %>

<% var hoursInDay = []; %>
<% var daysInWeek = []; %>

<% for (var i = 0; i < 24; i++) { %>
  <% hoursInDay.push(i); %>
<% } %>

<% for (var j = 0; j < 7; j++) { %>
  <% daysInWeek.push(new Date(currentDay)); %>
  <% currentDay.setDate(currentDay.getDate() + 1); %> 
<% } %>

<h1>
  <%= JST["calendars/_weekHeader"]({ month: month, day: day,
    year: year, endDate: _(daysInWeek).last() })%>
</h1>

<%= JST["calendars/_weekCalendar"]({ calendars: calendars, 
  daysInMonth: daysInMonth, dayOfWeek: dayOfWeek,
  month: month, year: year, lastDayOfMonth: lastDayOfMonth,
  lastWeekday: lastWeekday, day: day,
  hoursInDay: hoursInDay, daysInWeek: daysInWeek }) %>
