<!-- app/views/root/root.html.erb -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42602251-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>

<script type="application/json" id="user_id_json">
  <%= current_user.id.to_json.html_safe %>
</script>

<script type ="application/json" id="all_users_json">
  <%= User.find(:all, :conditions => ["id != ?", current_user.id]).to_json.html_safe %>
</script>

<div class="container">
  <div class="header">
    
    <div id="test">
      <div class="logo-holder">
        <img src="/assets/gull.png" class="logo" />
      </div>
      <div class="title-holder">
        <span id="calendar-title">
          <span class="char1">S</span>
          <span class="char2">E</span>
          <span class="char3">A</span>
          <span class="char4">G</span>
          <span class="char5">U</span>
          <span class="char6">L</span>
          <span class="char7">L</span>
          <span class="char8">&nbsp;</span>
          <span class="char9">C</span>
          <span class="char10">A</span>
          <span class="char11">L</span>
          <span class="char12">E</span>
          <span class="char13">N</span>
          <span class="char14">D</span>
          <span class="char15">A</span>
          <span class="char16">R</span>
        </span>
      </div>
    </div>
    
    <div id="test-1">
      <%= button_to "Sign out", 
        session_url, 
        :method => "delete", 
        :class => "log-out-button" %>
    </div>
  </div>
  
  <div class="container-row">
    <div id="sidebar">

    </div>
    
    <div id="content">
      
    </div>
  </div>
</div>


<!--script>
  $(document).ready(function() {
    $(".fancy_title").lettering();
  });
</script>

<div id="top-menu">
<span class="fancy_title">GOOGLE CALENDAR</span>
</div>


<!--div id="top-menu">
  <span class="fancy_title">GOOGLE CALENDAR</span>
  <input type="text" size="50" id="search" placeholder="Search Calendar">
</div-->