<!-- app/views/root/root.html.erb -->

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" id="sidebar">
      
    </div>
    
    <div class="span10" id="content">
      
    </div>
  </div>
</div>


<!--script>
  $(document).ready(function() {
    $(".fancy_title").lettering();
  });
</script>

<div id="top-menu">
<span class="fancy_title">GOOGLE CALENDAR</span>
</div>


<!--div id="top-menu">
  <span class="fancy_title">GOOGLE CALENDAR</span>
  <input type="text" size="50" id="search" placeholder="Search Calendar">
</div-->