<!-- app/views/root/root.html.erb -->

<script type="application/json" id="user_id_json">
  <%= current_user.id.to_json.html_safe %>
</script>

<div class="container">
  <div class="container-row">
    <div id="sidebar">
      
    </div>
    
    <div id="content">
      
    </div>
  </div>
</div>


<!--script>
  $(document).ready(function() {
    $(".fancy_title").lettering();
  });
</script>

<div id="top-menu">
<span class="fancy_title">GOOGLE CALENDAR</span>
</div>


<!--div id="top-menu">
  <span class="fancy_title">GOOGLE CALENDAR</span>
  <input type="text" size="50" id="search" placeholder="Search Calendar">
</div-->