// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
  padding: 2%;
  align: center;
  max-width: 80%;
}

.calendar-day {
  height: 120px;
  width: 12%;
  float: left;
  padding: 5px;
  
  text-align: left;
  font-size: 12px;
  border: 1px solid white;
  
  #day-num {
    font-size: 18px;
  }
  
  #event {
    background-color: #AA66CC;
    
    text-indent: 5%;
    width: 98%;
    padding: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  
  #event:hover {
    background-color: #9933CC;
  }
  
  #event-link {
    color: white;
    text-decoration: none;
  }
}

.calendar-day:hover {
  background-color: #E6E8FA;
  border: 1px solid #CDCDCD;
}

.day-name {
  height: 30px;
  width: 12%;
  float: left;
  padding: 5px;
  text-align: center;
}

#last-month {
  border: none;
  height: 30px;
  width: 30px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  background-color: #AA66CC;
  color: white;
  font-size: 14px;
  font-style: bold;
}

#last-month:hover {
  background-color: #9933CC;
}

#next-month {
  border: none;
  height: 30px;
  width: 30px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  background-color: #AA66CC;
  color: white;
  font-size: 14px;
  font-style: bold;
}

#next-month:hover {
  background-color: #9933CC;
}