// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

// ALL

button {
  font-weight: bold;
}

// TOP MENU BAR

#title {
//  background-color: #611d54;
  font-family: georgia;
  font-size: 22px;
  
  width: 100%;
  position: absolute;
  bottom: 0;
  
//  #search {
//    margin-top: 15px;
//    border: none;
//    line-height: 30px;
//    width: 400px;
//    margin-right: 40px;
//    float: right;
//  }
  
  .char1 {
    color: #d980c8;
    font-weight: bold;
  }
  .char2 {
    color: #efcbe8;
    font-weight: bold;
  }
  .char3 {
    color: #e19cd4;
    font-weight: bold;
  }
  .char4 {
    color: #f3d7ed;
    font-weight: bold;
  }
  .char5 {
    color: #d980c8;
    font-weight: bold;
  }
  .char6 {
    color: #efcbe8;
    font-weight: bold;
  }
  .char7 {
    color: #eab7e0;
    font-weight: bold;
  }
  .char8 {
    color: #eab7e0;
    font-weight: bold;
  }
  .char9 {
    color: #efcbe8;
    font-weight: bold;
  }
  .char10 {
    color: #e19cd4;
    font-weight: bold;
  }
  .char11 {
    color: #f3d7ed;
    font-weight: bold;
  }
  .char12 {
    color: #d980c8;
    font-weight: bold;
  }
  .char13 {
    color: #efcbe8;
    font-weight: bold;
  }
  .char14 {
    color: #eab7e0;
    font-weight: bold;
  }
  .char15 {
    color: #d980c8;
    font-weight: bold;
  }
  .char16 {
    color: #efcbe8;
    font-weight: bold;
  }
}

// CALENDAR - EVENTS INDEX PAGE

#content {
  padding: 0%;
  align: center;
  max-width: 100%;
  height: 100%;
}

// calendar days of week header

.day-name {
  height: 30px;
  width: 12%;
  float: left;
  padding: 5px;
  text-align: center;
}

// calendar day square

.calendar-day {
  height: 120px;
  width: 12%;
  float: left;
  padding: 5px;
  
  text-align: left;
  font-size: 12px;
  border: 1px solid #CDCDCD;
  
  #day-num {
    font-size: 14px;
  }
  
  // single event
  
  #event {
    margin-top: 1px;
    text-indent: 5%;
    width: 98%;
    padding: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }

  #event-link {
    color: white;
    text-decoration: none;
  }
  
  .cal-1 {
    background-color: #FFBB33;
  }

  .cal-1:hover {
    background-color: #FF8800;
  }

  .cal-2 {
    background-color: #AA66CC;
  }

  .cal-2:hover {
    background-color: #9933CC;
  }

  .cal-3 {
    background-color: #33B5E5;
  }

  .cal-3:hover {
    background-color: #0099CC;
  }

  .cal-4 {
    background-color: #FF4444;
  }

  .cal-4:hover {
    background-color: #CC0000;
  }

  .cal-5 {
    background-color: #99CC00;
  }

  .cal-5:hover {
    background-color: #669900;
  }
}

.cal-button-1 {
  background-color: #FFBB33;
}

.cal-button-1:hover {
  background-color: #FF8800;
}

.cal-button-2 {
  background-color: #AA66CC;
}

.cal-button-2:hover {
  background-color: #9933CC;
}

.cal-button-3 {
  background-color: #33B5E5;
}

.cal-button-3:hover {
  background-color: #0099CC;
}

.cal-button-4 {
  background-color: #FF4444;
}

.cal-button-4:hover {
  background-color: #CC0000;
}

.cal-button-5 {
  background-color: #99CC00;
}

.cal-button-5:hover {
  background-color: #669900;
}


.calendar-day:hover {
  background-color: #E6E8FA;
  border: 1px solid #CDCDCD;
}

// calendar header

// calendar page buttons

#last-month, #next-month {
  border: none;
  height: 30px;
  width: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  
  background-color: #AA66CC;
  color: white;
  font-size: 14px;
  font-style: bold;
}

#last-month:hover, #next-month:hover {
  background-color: #9933CC;
}

// calendar view switch buttons

#switch-views {
  float: right;
  margin-right: 9%;
}

.view-switch {
  border: none;
  height: 30px;
  width: 60px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  background-color: #AA66CC;
  color: white;
  font-size: 14px;
  font-style: bold;
}

.view-switch:hover {
  background-color: #9933CC;
}

// SIDEBAR

#new-event {
  background-color: #AA66CC;
  color: white;
  font-style: bold;

  border: none;
  text-align: center;
  width: 80%;
  height: 30px;
  padding: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#new-event:hover {
  background-color: #9933CC;
}

.display-cal-button {
  color: white;
  font-style: bold;

  border: none;
  text-align: center;
  width: 80%;
  height: 30px;
  padding: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

//////////////////////////// potential create button
//ul#actions
//{
//  display:none;
//}
//.actions:hover ul#actions
//{
//  display: block;
//}


// NEW EVENTS PAGE

button#back-to-cal, button#discard, #save {
  background-color: #AA66CC;
  color: white;
  font-weight: bold;

  border: none;
  text-align: center;
  width: 70px;
  height: 30px;
  padding: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

button#back-to-cal:hover, button#discard:hover, #save:hover {
  background-color: #9933CC;
}

.accepts-data {
  border: 1px solid #CDCDCD;
}


// CALENDAR DAY VIEW

.calendar-hour {
  height: 20px;
  width: 90%;
  float: left;
  padding: 5px;
  
  text-align: left;
  font-size: 12px;
  border: 1px solid #CDCDCD;
}

#content {
  padding: 0%;
  align: center;
  max-width: 100%;
  height: 100%;
}

// calendar days of week header

.day-name {
  height: 30px;
  width: 12%;
  float: left;
  padding: 5px;
  text-align: center;
}

// calendar hour box

.calendar-hour {
  height: 60px;
  width: 90%;
  float: left;
  padding: 5px;
  
  text-align: left;
  font-size: 12px;
  border: 1px solid #CDCDCD;
  
  #day-num {
    font-size: 14px;
  }
  
  // single event
  
  #hour-event {
    margin-top: 1px;;
    text-indent: 1%;
    width: 100%;
    padding: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }

  #event-link {
    color: white;
    text-decoration: none;
  }
  
  .cal-1 {
    background-color: #FFBB33;
  }

  .cal-1:hover {
    background-color: #FF8800;
  }

  .cal-2 {
    background-color: #AA66CC;
  }

  .cal-2:hover {
    background-color: #9933CC;
  }

  .cal-3 {
    background-color: #33B5E5;
  }

  .cal-3:hover {
    background-color: #0099CC;
  }

  .cal-4 {
    background-color: #FF4444;
  }

  .cal-4:hover {
    background-color: #CC0000;
  }

  .cal-5 {
    background-color: #99CC00;
  }

  .cal-5:hover {
    background-color: #669900;
  }
}

.cal-button-1 {
  background-color: #FFBB33;
}

.cal-button-1:hover {
  background-color: #FF8800;
}

.cal-button-2 {
  background-color: #AA66CC;
}

.cal-button-2:hover {
  background-color: #9933CC;
}

.cal-button-3 {
  background-color: #33B5E5;
}

.cal-button-3:hover {
  background-color: #0099CC;
}

.cal-button-4 {
  background-color: #FF4444;
}

.cal-button-4:hover {
  background-color: #CC0000;
}

.cal-button-5 {
  background-color: #99CC00;
}

.cal-button-5:hover {
  background-color: #669900;
}


.calendar-day:hover {
  background-color: #E6E8FA;
  border: 1px solid #CDCDCD;
}

// day calendar page buttons

#last-day, #next-day {
  border: none;
  height: 30px;
  width: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  
  background-color: #AA66CC;
  color: white;
  font-size: 14px;
  font-style: bold;
}

#last-day:hover, #next-day:hover {
  background-color: #9933CC;
}


// CALENDAR WEEK VIEW

.calendar-hour {
  height: 20px;
  width: 90%;
  float: left;
  padding: 5px;
  
  text-align: left;
  font-size: 12px;
  border: 1px solid #CDCDCD;
}

#content {
  padding: 0%;
  align: center;
  max-width: 100%;
  height: 100%;
}

// calendar days of week header

.day-name {
  height: 30px;
  width: 12%;
  float: left;
  padding: 5px;
  text-align: center;
}

// calendar hour box

.calendar-hour {
  height: 60px;
  width: 90%;
  float: left;
  padding: 5px;
  
  text-align: left;
  font-size: 12px;
  border: 1px solid #CDCDCD;
  
  #day-num {
    font-size: 14px;
  }
  
  // single event
  
  #hour-event {
    margin-top: 1px;;
    text-indent: 1%;
    width: 100%;
    padding: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }

  #event-link {
    color: white;
    text-decoration: none;
  }
  
  .cal-1 {
    background-color: #FFBB33;
  }

  .cal-1:hover {
    background-color: #FF8800;
  }

  .cal-2 {
    background-color: #AA66CC;
  }

  .cal-2:hover {
    background-color: #9933CC;
  }

  .cal-3 {
    background-color: #33B5E5;
  }

  .cal-3:hover {
    background-color: #0099CC;
  }

  .cal-4 {
    background-color: #FF4444;
  }

  .cal-4:hover {
    background-color: #CC0000;
  }

  .cal-5 {
    background-color: #99CC00;
  }

  .cal-5:hover {
    background-color: #669900;
  }
}

.cal-button-1 {
  background-color: #FFBB33;
}

.cal-button-1:hover {
  background-color: #FF8800;
}

.cal-button-2 {
  background-color: #AA66CC;
}

.cal-button-2:hover {
  background-color: #9933CC;
}

.cal-button-3 {
  background-color: #33B5E5;
}

.cal-button-3:hover {
  background-color: #0099CC;
}

.cal-button-4 {
  background-color: #FF4444;
}

.cal-button-4:hover {
  background-color: #CC0000;
}

.cal-button-5 {
  background-color: #99CC00;
}

.cal-button-5:hover {
  background-color: #669900;
}


.calendar-day:hover {
  background-color: #E6E8FA;
  border: 1px solid #CDCDCD;
}

// day calendar page buttons

#last-week, #next-week {
  border: none;
  height: 30px;
  width: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  
  background-color: #AA66CC;
  color: white;
  font-size: 14px;
  font-style: bold;
}

#last-week:hover, #next-week:hover {
  background-color: #9933CC;
}

.day-in-week {
  float: left;
  width: 12%;
}