// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

// TOP MENU BAR

#top-menu {
  background-color: #611d54;
  font-family: georgia;
  font-size: 30px;
  
  line-height:2em;
  width: 100%;
  padding: 0px;
  
  #search {
    border: none;
    line-height: 30px;
    width: 400px;
    margin-right: 40px;
    float: right;
  }
  
  .char1 {
    padding-left: 10px;
    color: #fcf6fb;
  }
  .char2 {
    color: #efcbe8;
  }
  .char3 {
    color: #e19cd4;
  }
  .char4 {
    color: #f3d7ed;
  }
  .char5 {
    color: #d980c8;
  }
  .char6 {
    color: #efcbe8;
  }
  .char7 {
    color: #eab7e0;
  }
  .char8 {
    color: #fcf6fb;
  }
  .char9 {
    color: #efcbe8;
  }
  .char10 {
    color: #e19cd4;
  }
  .char11 {
    color: #f3d7ed;
  }
  .char12 {
    color: #d980c8;
  }
  .char13 {
    color: #efcbe8;
  }
  .char14 {
    color: #eab7e0;
  }
  .char15 {
    color: #fcf6fb;
  }
  .char16 {
    color: #efcbe8;
  }
}

// CALENDAR - EVENTS INDEX PAGE

#content {
  padding: 2%;
  align: center;
  max-width: 100%;
  height: 100%;
}

.calendar-day {
  height: 120px;
  width: 12%;
  float: left;
  padding: 5px;
  
  text-align: left;
  font-size: 12px;
  border: 1px solid #CDCDCD;
  
  #day-num {
    font-size: 18px;
  }
  
  #event {
    background-color: #AA66CC;
    
    text-indent: 5%;
    width: 98%;
    padding: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  
  #event:hover {
    background-color: #9933CC;
  }
  
  #event-link {
    color: white;
    text-decoration: none;
  }
}

.calendar-day:hover {
  background-color: #E6E8FA;
  border: 1px solid #CDCDCD;
}

.day-name {
  height: 30px;
  width: 12%;
  float: left;
  padding: 5px;
  text-align: center;
}

#last-month, #next-month {
  border: none;
  height: 30px;
  width: 30px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  background-color: #AA66CC;
  color: white;
  font-size: 14px;
  font-style: bold;
}

#last-month:hover, #next-month:hover {
  background-color: #9933CC;
}

#new-event {
  background-color: #AA66CC;
  color: white;
  font-style: bold;

  border: none;
  text-align: center;
  width: 70px;
  height: 30px;
  padding: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#new-event:hover {
  background-color: #9933CC;
}


// NEW EVENTS PAGE

button#back-to-cal, button#discard, #save {
  background-color: #AA66CC;
  color: white;
  font-style: bold;

  border: none;
  text-align: center;
  width: 70px;
  height: 30px;
  padding: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

button#back-to-cal:hover, button#discard:hover, #save:hover {
  background-color: #9933CC;
}

.accepts-data {
  border: 1px solid #CDCDCD;
}