// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: "HelveticaNeue";
}

#container {
  width: 100%;
}

#header-text {
  color: #611d54;
}

#session-content {
  position: absolute;
  width: 100%;
  top: 100px;
  bottom: 100px;
}

#session-header {
  background-color: #611D54;
  border: 1px solid #CDCDCD;
  
  padding: 15px;
  height: 60px;
  width: 100%;
  top: 0;
}

#header-content {
  margin-top: 1.2%;
}

.char1 {
  color: #d980c8;
  font-weight: bold;
  font-size: 55px;
}
.char2 {
  color: #efcbe8;
  font-weight: bold;
  font-size: 55px;
}
.char3 {
  color: #e19cd4;
  font-weight: bold;
  font-size: 55px;
}
.char4 {
  color: #f3d7ed;
  font-weight: bold;
  font-size: 55px;
}
.char5 {
  color: #d980c8;
  font-weight: bold;
  font-size: 55px;
}
.char6 {
  color: #efcbe8;
  font-weight: bold;
  font-size: 55px;
}
.char7 {
  color: #eab7e0;
  font-weight: bold;
  font-size: 55px;
}
.char8 {
  color: #eab7e0;
  font-weight: bold;
  font-size: 55px;
}
.char9 {
  color: #efcbe8;
  font-weight: bold;
  font-size: 55px;
}
.char10 {
  color: #e19cd4;
  font-weight: bold;
  font-size: 55px;
}
.char11 {
  color: #f3d7ed;
  font-weight: bold;
  font-size: 55px;
}
.char12 {
  color: #d980c8;
  font-weight: bold;
  font-size: 55px;
}
.char13 {
  color: #efcbe8;
  font-weight: bold;
  font-size: 55px;
}
.char14 {
  color: #eab7e0;
  font-weight: bold;
  font-size: 55px;
}
.char15 {
  color: #d980c8;
  font-weight: bold;
  font-size: 55px;
}
.char16 {
  color: #efcbe8;
  font-weight: bold;
  font-size: 55px;
}


#session-footer {
  background-color: #FAF5F7;
  
  padding: 10px;
  position: absolute;
  height: 40px;
  width: 100%;
  bottom: 0;
}

#footer-content {
  margin-top: 12px;
}

#right-half {
  padding-top: 10px;
//  padding-left: 60%;
  margin-left: 60%;
  height: 100%;
  overflow: auto;
}

#cal-info {
  margin-left: 20%;
  margin-top: 27%;
}

#left-half {
  padding: 10px;
  position: absolute;
  width: 40%;
  height: 100%;
  overflow: auto;
}

#log-in-info {
  padding-top: 20%;
  padding-left: 17%;
}

#log-in-box {
  background-color: #FAF5F7;
  border: 1px solid #CDCDCD;

  height: 400px;
  width: 400px;
  margin-top: 18%;
  align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#info-entry {
  width: 250px;
  border: none;
}

#log-in-button {
  border: none;
  height: 30px;
  width: 80px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  background-color: #AA66CC;
  color: white;
  font-size: 14px;
  font-style: bold;
}

#log-in-button:hover {
  background-color: #9933CC;
}
