// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// COLORS

$purple: darken(#DDABEB, 12%);
$dark-purple: darken(#DDABEB, 17%);




// HEADER

* {
  font-family: "HelveticaNeue";
}

#container {
  width: 100%;
}

#header-text {
  color: #611d54;
}

#session-footer {
  background-color: #FAF5F7;
  
  padding: 10px;
  position: absolute;
  height: 40px;
  width: 100%;
  bottom: 0;
}

#footer-content {
  margin-top: 12px;
}

#right-half {
  padding-top: 10px;
  margin-left: 60%;
  height: 100%;
  overflow: auto;
}

#cal-info {
  margin-left: 20%;
  margin-top: 42%;
}

#left-half {
  padding: 10px;
  position: absolute;
  width: 40%;
  height: 100%;
  overflow: auto;
}

#log-in-info {
  padding-top: 25%;
  padding-left: 17%;
}

#log-in-box {
  background-color: #FAF5F7;
  border: 1px solid #CDCDCD;

  height: 400px;
  width: 400px;
  margin-top: 33%;
  align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#info-entry {
  width: 250px;
  border: 1px solid $purple;
}

.sign-up-region {
  float: right;
  margin-right: 12px;
  width: 215px;
  top: 0;
}

.sign-up-button {
  border: none;
  background-color: $purple;
  color: white;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px;
  min-width: 90px;
  height: 30px;
}

.sign-up-button:hover {
  background-color: $dark-purple;
}

#sign-up-text {
  color: white;
  font-weight: bold;
  align: left;
}

#log-in-button {
  border: none;
  height: 30px;
  width: 80px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  background-color: $purple;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

#log-in-button:hover {
  background-color: $dark-purple;
}

#signuptext {
  display: inline-block;
  margin-top: 15px;
}

#signupbutton {
  display: inline-block;
}